﻿@model IEnumerable<TritonDataServer.Entities.Branch>

@{
    ViewData["Title"] = "Home Page";
}

<h1>Triston Truck Management System</h1>
<hr />


@foreach (var item in Model)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.BranchName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Province)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BranchName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Province)
            </td>

            <td>

            </td>
        </tr>
            <tr>
                <td><b>Currently Registered Trucks</b></td>
            </tr>
            <tr>
                <td>
                    <table class="table">
                        <thead>
                            <tr>
                                <th></th>
                                <th>
                                    ModelName
                                </th>
                                <th>
                                    RegistrationNumber
                                </th>
                                <th>
                                    TareWeight
                                </th>
                                <th>
                                    NetWeight
                                </th>
                                <th>
                                    Allocated-Weigh Bill
                                </th>
                                <th></th>
                            </tr>
                        </thead>

                        <tbody>
                            @if (item.Trucks.Count != 0)
                            {
                                @foreach (var truck in item.Trucks)
                                {
                            <tr>
                                <td></td>
                                <td>
                                    @Html.DisplayFor(modelItem => truck.ModelName)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => truck.RegistrationNumber)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => truck.TareWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => truck.NetWeight)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => truck.WeighBill.CategoryName)
                                </td>
                            </tr>
                                }
                            }
                            else
                            {
                                <tr>
                                    <td></td>
                                    <td style="color: red;">Sorry No <span style="font-weight: bold;">TRUCKS</span> are available in this Branch</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </td>
            </tr>
            <tr>
                <td></td>
            </tr>

        </tbody>
    </table>
}
